---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Encode+Sans+Condensed|Hind+Siliguri');
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background-color: #0d0d0d;
  font: 18px 'Encode Sans Condensed', sans-serif;
  color: #f2f2f2
}

.container {
  text-align: justify;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 30px;
  width: 100%;
}

#scrollUp {
  bottom: 20px;
  right: 20px;
  background: url(/images/upp.svg);
  background-size: cover;
  width: 40px;
  height: 40px;

}  



h1, h2, h3, h4, h5, h6 {
  //font-family: $helvetica;
  font-family: 'Hind Siliguri', sans-serif;
  color: #66c2ff;
  font-weight: bold;
  text-align: center;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  //font-family: $helvetica;
  color: #99d6ff;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #e6e6ff;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.video-responsive {
position: relative;
padding-bottom: 56.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: #99ccff;
}
::selection {
  color: $black;
  background: #99ccff;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background: #1a1a1a;
  margin-bottom: 35px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #1a1a1a;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    margin: 10px 0;
  }
}
.topnav {
  overflow: hidden;
  background-color: #1a1a1a;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #3399ff;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
  a {
    color: #ff6600;
    text-decoration: underline;
    text-align: right;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;

    @include mobile {
      //margin: 0 10px;
      color: #ff6600;
    }
  }

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $bluelight;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    background-color: #4d4d4d;
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    //font-style: 'Hind Siliguri', sans-serif;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    background-color: #0d0d0d;
    border-radius: 20px
    padding: 10px;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  background-color: #1a1a1a;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

//Vista tipo tarjeta
.card {
     background-color: #1a1a1a;
     padding: 20px;
     margin-top: 20px;
}

//Header
/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}